

 <h1>Usuario</h1>

<div class="pull-right span4">
  <button class="btn btn-primary pull-right"  style="margin-left:10px;" data-toggle="modal" href="#myModal" >Agregar</button>
  <form class="form-search pull-right">
    <div class="input-append">
      <input type="text" class="span2 search-query">
      <button type="submit" class="btn">Search</button>
    </div>
</form>
</div>

<table  class="table table-hover">

   <tr>
    <th></th>
    <th></th>
    <th>Username</th>
    <th>Nombre</th>
    <th>Email</th>
    <th>Rol</th>
    <th>Publicaciones</th>
    <th></th>
   </tr>
<% _.each (projects , function(listItem){ %>
   <tr>
      <td><input type="checkbox" name="_id" value="<%- listItem._id %>"> </td>
      <td><%- listItem._id %></td>
      <td><%- listItem.username %></td>
      
      <td><%- listItem.nombre + ' ' + 
              listItem.apellido_paterno + ' ' +
              listItem.apellido_materno  %></td>
      
      <td><%- listItem.email %></td>
      <td><%- listItem.rol_k %></td>
      <td>1</td>
      <td><i class="icon-remove"></i><i class="icon-edit"></i></td>
   </tr>
<% }); %>   

</table>

      <ul class="pagination pull-right">
        <li>
          <a href="#">Prev</a>
        </li>
        <li>
          <a href="#">1</a>
        </li>
        <li>
          <a href="#">2</a>
        </li>
        <li>
          <a href="#">3</a>
        </li>
        <li>
          <a href="#">4</a>
        </li>
        <li>
          <a href="#">Next</a>
        </li>
      </ul>
    </div>



<div class="modal hide" id="myModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Alta de Usuario</h3>
  </div>
  <div class="modal-body">

    <!-- Comienza formulario -->
      <form class="edit-user-form">
        <fieldset>
          <label>Nombre</label>
          <input name="nombre" id="nombre" type="text">
           <label>Username</label>
          <input name="username" id="username" type="text" >
           <label>Password</label>
          <input name="password " id="password" type="password" >
          <label>Confirmar Password</label>
          <input name="conf-password" id="conf-password" type="password" >
           <label>Email</label>
          <input name="email" id="email" type="text" >
           <label>Genero</label>
          <select name="genero" id="genero">
            <option value="hombre">Hombre</option>
            <option value="mujer">Mujer</option>
          </select>
          <label>Foto</label>
         <input type="file" class="filestyle" data-classButton="btn btn-primary" data-input="false">
          <label>Fecha de nacimiento</label>
          <select name="dia" id="dia" class="span1">
            <option value="1">Dia</option>
          </select>
           <select name="mes" id="mes" class="span1">
            <option value="Enero">Mes</option>
          </select>
           <select name="anno" id="anno" class="span1">
            <option value="1986">Año</option>
          </select>
          <label>Rol</label>
          <select name="rol" id="rol">
            <option value="1">Administrador</option>
          </select>
        </fieldset>
   
    <!-- Termina formulario -->
  
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn">Submit</button>
    <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>

   </form>

</div>


