<!--Single Panel-->

<div id="contenedor">

 <h1>Usuario</h1>

<div class="pull-right span4">

  <button class="btn btn-primary pull-right agrUsario"  style="margin-left:10px;" data-toggle="modal" href="#myModal" >Agregar</button>
  <form class="form-search pull-right">
    <div class="input-append">
      <input type="text" class="span2 search-query">
      <button type="submit" class="btn buscar">Search</button>
    </div>
</form>
</div>

<table  class="table table-hover">

   <tr>
    <th></th>
    <th></th>
    <th>Username</th>
    <th>Nombre</th>
    <th>Email</th>
    <th>Rol</th>
    <th>Publicaciones</th>
    <th></th>
   </tr>

<% _.each (projects , function(listItem){ %>
   <tr>    
      <td><input type="checkbox" name="id-user" class="id-user" value="<%- listItem._id %>"> </td>
      <td><%- listItem._id %></td>
      <td><%- listItem.username %></td>
      
      <td><% listItem.nombre + ' ' + 
              listItem.apellido_paterno + ' ' +
              listItem.apellido_materno  %></td>
      
      <td><%- listItem.email %></td>
      <td><%- listItem.rol_k %></td>
      <td>1</td>
      <td><i class="icon-remove" id="<%- listItem._id %>" ></i><i id="<%- listItem._id %>" data-toggle="modal" href="#myModal" class="icon-edit edit-user"></i></td>
   </tr>

<% }); %>   

</table>

</div>

<% cont=1 %>
<% if(totalRows >= displayPages){t=displayPages}else{t=totalRows} %>
<div class="pagination pull-right">
  <ul>
  <a class='nav-pag' id='prev'>Prev</a>
    <% for(var i=1 ; i <= t;  ){ %>
        <% if(cont <= totalRows ){ %>       
             <li><a class="per-page" id="<%- (i-1)*perPage %>"><%- i++ %></a></li>
        <% } %>
      <% }; %> 
    <a class='nav-pag' id='next'>Next</a>  
  </ul>
</div>

<div class="modal hide" id="myModal"></div>